html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
body {
    margin: 0;
    padding: 0;
}
*,*::before,*::after {
    box-sizing: inherit;
}

.header {
    background-color: #1F2937;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 24px 150px;
}
.header, ul {
    display: flex;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}
a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-intro {
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 100px 150px;
    justify-content: space-between;
}

.hero-text {
    margin: 0;
}

.hero-info {
    width: 300px;
}

button {
    padding: 8px 22px;
    border-radius: 7px;
    background-color: #3882F6;
    color: #E5E7EB;
    border-color: #3882F6;
    margin: 4px 0;
}
h1 {
    font-size: 36px;
    color: #E5E7EB;
    font-weight: 900;
    margin: 4px 0;
}

.hero-random {
    padding: 50px 150px;
}
.hero-image {
    display: flex;
    width: 450px;
    background-color: rgba(210, 195, 195, 0.579);
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
}

.hero-illustration {
    display: flex;
    justify-content: space-evenly;
}
.image {
    border: 5px solid rgb(128, 128, 245);
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.random-text {
    width: 150px;
    height: 150px;
}

.hero-quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 50px 200px;
}
p .author {
    text-align: right;
    font-weight: 700;
    max-width: 50%;
}

.hero-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882F6;
    padding: 50px 150px;
    margin: 50px 300px; 
    border-radius: 5px;
}

.action-button {
    border: 1px solid white;
    color: white;
    padding: 5px 30px;
}

