body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* heading css */
.hero-header, .hero-footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 
}

.hero-nav > h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-nav, .hero-nav > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.hero-nav > ul {
    list-style: none;
}

li > a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-headline > .hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 200px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #5051535f;
}

.hero-nav, .hero-headline {
    padding: 20px 80px;
}
.hero-headline {
    padding-bottom: 80px;
}

.headline-left {
    width: 45%;
    color: #E5E7EB;
}
.headline-left > h2 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}
.headline-left > button {
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
}
.headerline-left > p {
    font-size: 18px;
}
/****************************************/


/* hero content css */
.subcontent-header {
    text-align: center;
    padding: 20px;
    font-weight: 900;
}
.image-container {
    width: 250px;
    height: 250px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}
.hero-content {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.hero-illustration > p {
    width: 250px;
    text-align: center;
    font-size: 18px;
}

/* hero testimonial */
.hero-testimonial {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    padding: 150px 80px;
}

.author {
    text-align: right;
    font-weight: bold;
}

.quote {
    color:#858584
}
/***************************************/

/* hero-action */
